@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(50, 136, 50);
    background: rgb(240, 241, 238);
}
.image1 {
    max-width: 60px;
}
h1,h2 {
    margin-bottom: 15px;
}
ul {
    list-style-type: none;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 0% 30px;
}

.navbar {
    background-color: green;
    height: 80px;
    color: white;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.navbar .logo {
    font-size: larger;
    font-weight: bold;
} 
.navbar :hover {
    color: greenyellow;
}
.image1 {
    font-size: small;
}
.navbar .container {
display: flex;
justify-content: space-between;
align-items: right;
height: 100%;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
  margin-left: 20px;
}
.header {
    background-color: white;
    color: green;
    min-height: 300px;
}
.header h1 {
    font-size: 3rem;
    line-height: 1.0;
}
.image2 {
    max-width: 500px;
    max-height: 1000px;
}
.header image2 {
    max-width: 500px;
    max-height: 1000px;  
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxes .container {
    display: flex;
    justify-content: space-between;
}
.box {
    flex: 1;
    background-color: green;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgb(240, 241, 238);
    padding: 15px 20px;
}
.boxes :hover {
    color: greenyellow;
}
.footer {
    flex: 1;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    min-height: 40px;
    background-color: white;
    color: green;
    text-align: center;
}
.button {
    background-color:green ;
    color: white;
    font-size: large;
}
